@import "colours";

.hljs-string { color: $string; }
.hljs-keyword { color: $keyword; }
.hljs-function { color: $tag; }
.hljs-class { color: $blue; }
.hljs-title { color: $tag; }
.hljs-attribute { color: $attrName }
.hljs-value { color: $attrValue }
.hljs-number { color: $literal }
.hljs-literal { color: $literal }
.hljs-comment { color: $comment }
