<!-- really hacky workaround for the fact that you can't have
     mustaches inside script tags... -->
<span id='analytics' data-id='[[id]]' data-property='[[property]]'></span>

{{>analytics}}

{{#partial analytics}}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		(function(x,y) {
			ga('create',x[y]('data-id'),x[y]('data-property'));
			ga('send','pageview');
		})(document.querySelector('#analytics'),'getAttribute');
	</script>
{{/partial}}
